<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head 
         content must come *after* these tags -->

    <title>Contact us</title>
    <link rel="icon" href="/img/weather.png">

	 <!-- Bootstrap -->
	<link href="/css/bootstrap.css" rel="stylesheet"> 
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/bootstrap-social.css" rel="stylesheet">
	<link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">  
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet"> 
    <link href="/css/font-awesome.min.css" rel="stylesheet"> 
    <link href="/css/bootstrap-social.css" rel="stylesheet">
    <link href="/css/mystyle-old.css" rel="stylesheet"> 
	

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>



<body>
     {{>navbar}}
        <!-- Main component for a primary marketing message or call to action -->

        <div class="container">
            <div class="row row-header">
                <div class="col-xs-12 col-sm-8">
                    <h1>Weather with us</h1>
                    <p style="padding:40px;"></p>
                    <p>We take inspiration from the World's best websites, and create a unique weather experience. 
                        Check weather at any location in the world!</p>
                </div>
                <div class="col-xs-12 col-sm-4">
                   <p style="padding:20px;"></p>
                    <img src="img/weather2.jpg" class="img-responsive">
                </div>
            </div>
        </div>
    

 <div class="container">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a href="/">Home</a></li>
                   <li class="active">Contact Us</li>
               </ul>
            </div>
            <div class="col-xs-12">
               <h3>Contact Us</h3>
               <hr>
            </div>
        </div>
        
        <div class="row row-content">
           <div class="col-xs-12">
              <h3>Location Information</h3> 
           </div>
            <div class="col-xs-12 col-sm-4 col-sm-offset-1">
                   <h5>Our Address</h5>
                    <address style="font-size: 100%">
		              110 Cherryhill Cir<br>
		              London, ON<br>
		              NORTH POLE<br>
		              <i class="fa fa-phone"></i>: +1 519 702 8065<br>
		              <i class="fa fa-fax"></i>: +111 222 333 444<br>
		              <i class="fa fa-envelope"></i>: 
                      <a href="mailto:slavas21@gmail.com">slavas21@gmail.com</a><br>
                      <a type="button" class="btn btn-primary" href="tel:+1 519 702 8065"><i class="fa fa-phone"></i> Call</a>
                      <a type="button" class="btn btn-info"><i class="fa fa-skype"></i> Skype</a>
                      <a type="button" class="btn btn-success" href="mailto:slavas21@gmail.com"><i class="fa fa-envelope-o"></i> Email</a>

		           </address>
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-offset-1">
                <h5>Map of our Location</h5>
                <div id="mapholder" style="width:100%;height:200px;"></div>
            </div>
        </div>
</div>

     {{>footer}}
     <script src="/js/position.js"></script>
     <script  async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdM8k68a3j8Vy7-URgexkRbHZZ--FQKlg&callback=myMap"></script>     
     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
 <script>
        $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
         });
    </script>
   </body>
</html>